<nav id="navbar">
    <div class="logo">
        <img src="https://w7.pngwing.com/pngs/758/665/png-transparent-new-logo-gmail-google-new-logos-icon.png"
            alt="logo" class="logo-brand" />
        <span>Gmail</span>
    </div>

    <div class="mode">
        <span><a href="#">Home</a></span>
        <span><a href="#">About</a></span>
        <span><a href="#">Services</a></span>
        <span><a href="#">Contact</a></span>
        <span><button>Login</button></span>
    </div>
</nav>