<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Sidebar.css">

</head>

<body>
    <aside id="sidebar">
        <div class="samples">
            <span><a href="/compose">Compose</a></span>
            <span><a href="/inbox">Inbox</a></span>
            <span><a href="/outbox">Outbox</a></span>
            <span><a href="/email-detail">Detail</a></span>
        </div>
    </aside>
</body>

</html>