<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/Head') %>

</head>

<body>
    <header>
        <%- include('../partials/Header') %>
    </header>
    <div class="container">
        <%- include('../partials/Sidebar') %>
        <div class="content">
            <h1>Outbox Page</h1>
        </div>
    </div>
</body>

</html>