<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/Head'); %>
        <link rel="stylesheet" type="text/css" href="/CSS/HomePage.css" />
</head>

<body>

    <main class="container">
        <form method="post">
            <h3>Register Page</h3>
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" placeholder="Please enter username: " autocomplete="additional-name"
                    name="username" />
                <span><i class="fa-solid fa-user form-icon"></i></span>
                <p class="nameMessage"></p>
            </div>

            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" placeholder="Please enter email: " autocomplete="email" name="email" />
                <span><i class="fa-solid fa-user form-icon"></i></span>
                <p class="emailMessage"></p>
            </div>

            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" placeholder="Please enter password: " autocomplete="new-password"
                    name="password" />
                <span><i class="fa-solid fa-lock form-icon"></i></span>
                <p class="passwordMessage"></p>
            </div>

            <div class="form-group">
                <label for="re-password">Password again: </label>
                <input type="password" placeholder="Please enter password: " />
                <span><i class="fa-solid fa-lock form-icon"></i></span>
                <p class="rePasswordMessage"></p>
            </div>

            <div class="form-bottom">
                <button type="submit">Regitser</button>
                <p>Already had an account? <a href="/">Login</a></p>
            </div>
        </form>
    </main>

    <script src="/validate.js"></script>
</body>

</html>